*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background: #f3f3f3;
    font-family: 'Secular One', sans-serif; /*poner la de google fonts*/
}

a {
    text-decoration: none; /*para que no tenga el subrayado*/
}

.contenedor {
    width: 90%;
    max-width: 900px;
    margin: auto; /*para que este centrado*/
    background: #F3B322; /*SOLO PRUEBO LOS COLORES*/
}
/*------------------*/
/*      HEADER      */
/*------------------*/

header {
    padding: 40px 0px;
}

/*accedo al div del LOGO*/
header .logo{
    text-align: center;
    margin-bottom: 40px;
    font-size: 20px;
}

/*accedo al parrafo dentro del logo*/
header .logo p{
    color: #9B9B9B;
}

/*accedo al formulario*/
header form{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

/*accedo al input dentro del formulario*/
header .barra-busqueda{
    width: 70%;
    height: 40px;
    line-height: 40px;
    background: white;
    padding: 0 20px;
    border-radius: 100px;
    border: none;
    text-align: center;
    font-size: 16px;
}

/*accedo al div de CATEGORIAS*/
header .categorias{
    display: flex;
    justify-content: center; /*todos los elementos centrados*/
    flex-wrap: wrap; /*para que los elementos se encierren... si hay mas elementos */
    /*y no caben en el ancho, se ponen debajo, eso gracias a la propiedad flex-wrap*/
}

/*accedo a los enlaces dentro del div de categorias*/
header .categorias a{
    color: #9B9B9B;
    margin: 10px 20px;
    font-size: 20px;
    font-weight: 700px;
}

/*accedo al enlace que tenga la clase activo, si o si debe ir "a.activo"*/
header .categorias a.activo{
    color: #000;
}

/*--------------------------*/
/*      SECTION - GRID      */
/*--------------------------*/

/*accedemos a la seccion con la clase .grid*/
.grid {
    position: relative; /*para que la grid y la libreria funcione adecuadamente*/
    width: 100%; /*100% del ancho del contenedor*/

    opacity: 0;
    transition: opacity 0.5s linear 1s;
}

.grid.imagenes-cargadas{
    opacity: 1;
}

/*accedemos al primer DIV de la seccion*/
.grid .item {
    position: absolute;
    display: block;
    padding: 0;
    margin: 10px;
    width: calc(33.33333333% - 20px); 
    /*calculamos el 33% y le restamos 20px, que son los margenes que se ponen a los lados con
    la propiedad "margin: 10px;"*/
}

.grid .item-contenido{
    position: relative;
}

/*accedemos a la imagen dentro del item-contenedor, que a su vez esta dentro del primer DIV*/
.grid .item img{
    width: 100%;
    cursor: pointer;
    vertical-align: top;
}


/*--------------------------------------*/
/*      SECTION - MOSTRAR IMAGENES      */
/*--------------------------------------*/

.mostrarImagen{
    position: fixed; /*fijo a la pantalla, podemos scrollear*/
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, .9);
    width: 100%;
    height: 100vh; /*VIEWPORT HEIGT*/
    
    display: none;
    align-items: center; /*alineamos de forma vertical*/
    justify-content: center; /*alineamos de forma horizontal*/
    
    flex-direction: column; /*cada componente dentro es un bloque por asi decirlo*/
}

.mostrarImagen.activo{
    display: flex;
}

.mostrarImagen img{
    max-width: 100%;
}

.mostrarImagen .descripcion{
    display: block;
    background: #f3f3f3;
    padding: 20px;
    text-align: center;
    margin-top: 5px;
    border-radius: 20px;
    max-width: 50%;
}

.contenedorImagen{
    position: relative;
}

.mostrarImagen #btnCerrarImagen{
    background: none;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    position: absolute;
    top: 0px;
    right: -22px;
}

/*-----------------------------------*/
/*      FOOTER - ESTILOS ICONOS      */
/*-----------------------------------*/

footer .redesSociales{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    flex-wrap: wrap;
}

footer .redesSociales a{
    display: block;
    width: 60px;
    height: 60px;
    background: #000;
    color: #fff;
    margin: 20px;
    text-align: center;
    border-radius: 200px;
    transition: .3s ease all;
}

footer .redesSociales .linkedin{ 
    color: rgb(7, 133, 206);
}

footer .redesSociales .gitHub{ 
    color: rgb(255, 255, 255);
}

footer .redesSociales .instagram{ 
    color: rgb(240, 144, 224);
}

footer .redesSociales a i{
    font-size: 25px;
    line-height: 60px;
}

footer .contenedorIcono:hover a{
    animation: icono .5s ease;
}

@keyframes icono {
    from{
        transform: rotate3d(0,0,0,0); 
    }
    to{
        transform: rotate3d(0,1,0,360deg); /*eje y, eje x, eje z, rotacion*/
    }
}

footer .creadoPor{
    margin-bottom: 40px;
    text-align: center;
    font-size: 14px;
    color: #c13584;
}

footer .creadoPor a { color: #000;}
footer .creadoPor a:hover { text-decoration: underline;}

/*-----------------------------------*/
/*      FOOTER - ESTILOS ICONOS      */
/*-----------------------------------*/

@media screen and (max-width: 700px) {
   .grid .item{
       width: calc(50% - 20px);
   }

   header .barra-busqueda{
       width: 100%;
   }
}